/* estilos.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container-login {
    padding: 20px;
    border: 1px solid #039474;
    background-color: #c7fff3;
}

.input-group {
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background-color: #1da581;
    color: white;
    border: none;
    cursor: pointer;
}
